[submodule "Modules/UPM-RobotConstructorKit"]
	path = Modules/UPM-RobotConstructorKit
	url = https://github.com/Virtual-FTC/UPM-RobotConstructorKit
[submodule "Modules/UPM-VRSMultiplayer"]
	path = Modules/UPM-VRSMultiplayer
	url = https://github.com/Virtual-FTC/UPM-VRSMultiplayer
[submodule "Modules/UPM-UI"]
	path = Modules/UPM-UI
	url = https://github.com/Virtual-FTC/UPM-UI
