player-connection-mode=Listen
player-connection-guid=2235116475
player-connection-debug=0
player-connection-project-name=Robot Simulator
player-connection-ip=192.168.1.153
player-connection-ip=10.31.18.35
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
force-d3d11-bitblt-model=
build-guid=34c4ab0b8d7e4e0daced6bda3e8b0756
